{% extends 'contentApp/index.html' %}
{% load static %}
{% block content %}
<div class="row">
    
    <div class="column">
    
        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>
    
                <strong>About</strong> <br> <h6>The video documents this app feature</h6>
    
            </div>
        </div>
        
    </div>

    <div class="column">

        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>

                <strong>About</strong> <br> <h6>The video documents this app feature</h6>

            </div>
        </div>

    </div>

    <div class="column">

        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>

                <strong>About</strong> <br> <h6>The video documents this app feature</h6>

            </div>
        </div>

    </div>

    <div class="column">

        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>

                <strong>About</strong> <br> <h6>The video documents this app feature</h6>

            </div>
        </div>

    </div>


    <div class="column">

        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>

                <strong>About</strong> <br> <h6>The video documents this app feature</h6>

            </div>
        </div>

    </div>

    <div class="column">

        <div class="card">
            <video src="{% static 'media/starship.mp4' %}" type="video/mp4"   controls autoplay>
            </video>
            <div class="box-element" >
                <h5><strong>Video Title</strong></h5>
                <hr>

                <strong>About</strong> <br> <h6>The video documents this app feature</h6>

            </div>
        </div>

    </div>
    
    
</div>


{% endblock content %}